<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketPandit Horoscope Summarizer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .textarea-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mt-5">PocketPandit Horoscope Summarizer</h2>
    <form action="/" method="post">
        <div class="form-group textarea-container">
            <label for="inputText">Paste horoscope content here:</label>
            <textarea class="form-control" id="inputText" name="inputText" rows="10" required>{{ input_text }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Summarize</button>
    </form>
        <div class="form-group textarea-container">
            <label for="outputText">Summarized Version:</label>
            <textarea class="form-control" id="outputText" rows="5" readonly>{{ summary }}</textarea>
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
